body, .container {
    background-color: rgb(210, 61, 61);
    border-radius: 10px;
}

.boton-favoritos {
    background-color: black;
    width: 160px;
    height: 40px;
    margin-right: 60px;
    font-weight: 800;
    align-items: center;
    border-radius: 5px;
}
.charactersCard{
    background-color: rgb(4, 4, 4);
    color: blue;
}
.card{
    background-color: rgb(14, 14, 14);
    color: crimson;
    width: 80px;
}
.profile{
    color:red
}

.carta{
    width: 400px;
    height: 80px;
    background-color: rgb(14, 14, 14);
}